<settings>
    <setting propertyKey="@Properties.deviceId" title="@Strings.deviceIdTitle">
        <settingConfig type="alphaNumeric" />
    </setting>
    <setting propertyKey="@Properties.traccarURL" title="@Strings.traccarURLTitle">
        <settingConfig type="alphaNumeric" />
    </setting>
</settings>